/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}
/* a demo https://codepen.io/coolbezos_420/pen/jOqWBqL?editors=1100 */
/* reference for the css style, although, we use a slightly different version */
/* https://www.cutestrap.com/features/popsicle */
/* basically, you have blocks and popsicles, the block is the same thing as [B]EM, and the popsicle is the same thing as BE[M]
/* BEM to MSpopsicle: 
Blocks -> Blocks (.button)
Elements -> Elements (.button__icon)
Modifiers -> Popsicles (.button.-blue)
*/
/* this is a system that i like to work in, it makes modifying blocks simpler and nicer 
	keep in mind that this does mean that different blocks can have the same popsicle. 
	So maybe prefixing them might be a good idea
*/
/* variables */
:root {
  --mini-unit: 8px;
  /* colours */
  --c-clear: hsla(0, 0%, 0%, 0%);

  --c-yellow--darkest: hsl(49, 100%, 9%);
  --c-yellow--dark: hsl(49, 100%, 11%);
  --c-yellow: hsl(49, 100%, 50%);
  --c-yellow--light: hsl(49, 100%, 65%);

  --c-blue--darkest: hsl(190, 100%, 9%);
  --c-blue--dark: hsl(190, 100%, 11%);
  --c-blue: hsl(190, 100%, 50%);
  --c-blue--light: hsl(190, 100%, 65%);

  --c-l-10: hsl(220, 5%, 100%);
  --c-l-9: hsl(220, 5%, 91%);
  --c-l-8: hsl(220, 5%, 81%);
  --c-l-7: hsl(220, 5%, 71%);
  --c-l-6: hsl(220, 5%, 61%);
  --c-l-5: hsl(220, 5%, 51%);
  --c-l-4: hsl(220, 5%, 41%);
  --c-l-3: hsl(220, 5%, 31%);
  --c-l-2: hsl(220, 5%, 21%);
  --c-l-1: hsl(220, 5%, 16%);
  --c-l-0: hsl(220, 5%, 8%);
}

/* generic element styles */

/* import the nice fonts */
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
html,
body {
  height: 100%;
  background-color: var(--c-l-0);
  color: var(--c-l-10);
}
body {
  font-size: 1.3em;
  font-weight: 300;
}
a {
  color: var(--c-l-10);
}
main {
  min-height: 85vh;
}


/* header block */
.header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--mini-unit) * 2) calc(var(--mini-unit) * 3);
  background-color: var(--c-l-0);
  color: var(--c-l-10);
  align-items: center;
}
.header.-sticky {
  position: sticky;
  top: 0;
}
.header-logo {
  transition: all 0.1s ease-in-out;
}
.header-logo:hover {
  opacity: 0.7;
}
.header-logo__img {
  height: calc(var(--mini-unit) * 4);
}

/* button block */
.button {
  background-color: var(--c-l-2);
  color: var(--c-l-10);
  border-color: transparent;

  align-items: center;
  border-radius: var(--mini-unit);
  cursor: pointer;
  display: inline-flex;
  min-height: 2.5rem;
  justify-content: center;
  padding: 0 calc(var(--mini-unit) * 2);
  text-decoration: none;
  hyphens: auto;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.1s ease-in-out 0s, border 0.1s, background-color 0.1s;
  font-weight: 700;
}
.button:hover {
  background-color: var(--c-l-1);
}
.button.-fill {
  width: 100%;
}
.button.-small {
  font-size: calc(var(--mini-unit) * 2);
  min-height: 2rem;
}
.button.-inverse {
  background-color: var(--c-l-10);

  color: var(--c-l-0);
}
.button.-inverse:hover {
  background-color: hsl(0, 0%, 98%);
}
.button.-primary {
  background-color: var(--c-blue--dark);
  border-color: transparent;
  color: var(--c-blue);
}
.button.-primary:hover {
  background-color: var(--c-blue--darkest);
}
.button.-secondary {
  background-color: var(--c-yellow--dark);
  border-color: transparent;
  color: var(--c-yellow);
}
.button.-secondary:hover {
  background-color: var(--c-yellow--darkest);
}
/* fix wysiwyg problem */
.wysiwyg > a.button:hover {
  border-bottom: 0px solid !important;
}
/* button group block */
.button-group {
  display: flex;
  align-items: center;
}
.button-group__button {
  margin-left: var(--mini-unit);
}
.button-group__button:first-child {
  margin-left: 0px;
}

/* main container block */
.container {
  width: 100%;
  margin: 0px auto;
  padding: var(--mini-unit);
  padding-top: calc(var(--mini-unit) * 4);
}
.container > * {
  margin-bottom: var(--mini-unit);
}
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

/* the room code block */
.room-code {
  align-items: center;
  background-color: transparent;
  border: 1px solid hsl(190, 100%, 10%);
  border-radius: var(--mini-unit);
  color: var(--c-blue);
  display: inline-flex;
  font-size: calc(var(--mini-unit) * 2);
  min-height: 2rem;
  justify-content: center;
  padding: 0 calc(var(--mini-unit) * 2);
  text-decoration: none;
  hyphens: auto;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.05);
  font-weight: 700;
}

/* footer block */
.footer {
  text-align: center;
  font-size: 0.7em;
  padding-bottom: 1em;
}
.footer__a {
  opacity: 0.7;
}
.footer__a:hover {
  opacity: 0.5;
}

/* form code (stolen from cutestrap) */
/*
<form>
    <label class="field">
        <input type="text" />
        <span class="label">Name</span>
    </label>
    <label class="field -inline">
        <input type="radio" name="example" />
        <span class="label">Cone</span>
    </label>
    <label class="field -inline">
        <input type="radio" name="example" />
        <span class="label">Bowl</span>
    </label>
    <label for="select" class="field">
        <select name="select">
            <option disabled="disabled" selected="selected">Flavors</option>
            <option>Chocolate</option>
            <option>Vanilla</option>
        </select>
        <span class="label">Favorite Ice Cream</span>
    </label>
    <label class="field">
        <textarea></textarea>
        <span class="label">Comments</span>
    </label>
    <label class="field">
        <input type="checkbox" />
        <span class="label">
            I consent to my ice cream flavors being saved into a database for
            eternity and understand and acknowledge this will have consequences
            for all of my decendants for decades to come.
        </span>
    </label>
</form>
*/
.field {
    display: flex;
    margin-bottom: calc(var(--mini-unit) * 3);
    position: relative;
	text-align: left;
	
}
.field__label{
	margin-right: var(--mini-unit);
}
.field__input{
	background-color: var(--c-l-0);
    border: 1px solid var(--c-l-3);
    border-radius: var(--mini-unit);
    box-sizing: border-box;
    margin-top: calc(var(--mini-unit) * -1);
    padding: var(--mini-unit) var(--mini-unit);
    position: relative;
	width: 100%;
	color: var(--c-l-10);
	font-weight: 300;
	font-style: italic;
} 
.field__input.-primary{
	border-color: var(--c-blue--dark);
	color: var(--c-blue);
}

/* the twopart field*/
.twopart-field{
	display: flex;
	width:100%;
	align-items: center;
}
.twopart-field__left{
	border: 1px solid var(--c-l-3);

	border-radius: var(--mini-unit) 0px 0px var(--mini-unit);
	background-color: var(--c-l-3);
	padding: var(--mini-unit);
	margin-top: calc(var(--mini-unit) * -1);
	color: var(--c-l-10);
	font-weight: 600;
}
.twopart-field__left.-primary{
	border-color: var(--c-blue--dark);
	background-color:var(--c-blue--dark);
	color: var(--c-blue)
}
.twopart-field__right{
	border-radius: 0px var(--mini-unit) var(--mini-unit) 0px;
	flex-grow: 1;
	border-left:0px transparent
}

/* text heading block */
.text-heading{
	font-weight: 700;
	font-size: 1.6em;
	margin-bottom: 0.875em;
	line-height: 1.1;
}

/* code to maybe get the input to be white on black */
#question-input {
  color: var(--c-l-10);
  border-color: var(--c-l-10);
  background: var(--c-l-0);
}
#question-input .mq-matrixed {
  background: var(--c-l-0);
}
#question-input .mq-matrixed-container {
  filter: progid:DXImageTransform.Microsoft.Chroma(color='black');
}
.mq-cursor{
  border-left: 1px solid var(--c-l-10) !important;
}