/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
/* a demo https://codepen.io/coolbezos_420/pen/jOqWBqL?editors=1100 */
/* variables */
:root {
	--mini-unit: 8px;
	/* colours */
	--c-clear: hsla(0, 0%, 0%, 0%);
	--c-yellow--dark: hsl(49, 100%, 45%);
	--c-yellow: hsl(49, 100%, 50%);
	--c-yellow--light: hsl(49, 100%, 65%);
	--c-blue--dark: hsl(190, 100%, 45%);
	--c-blue: hsl(190, 100%, 50%);
	--c-blue--light: hsl(190, 100%, 65%);

	--c-l-10: hsl(0, 0%, 100%);
	--c-l-9: hsl(0, 0%, 90%);
	--c-l-8: hsl(0, 0%, 80%);
	--c-l-7: hsl(0, 0%, 70%);
	--c-l-6: hsl(0, 0%, 60%);
	--c-l-5: hsl(0, 0%, 50%);
	--c-l-4: hsl(0, 0%, 40%);
	--c-l-3: hsl(0, 0%, 30%);
	--c-l-2: hsl(0, 0%, 20%);
	--c-l-1: hsl(0, 0%, 10%);
	--c-l-0: hsl(0, 0%, 00%);
}

/* import the nice fonts */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
html,
body {
	height: 100%;
}


body {
	font-size: calc(var(--mini-unit) * 2);
}

/* header block */
.header {
	display: flex;
	justify-content: space-between;
	padding: var(--mini-unit) calc(var(--mini-unit) * 2);
	background-color: var(--c-l-0);
	color: var(--c-l-10);
	align-items: center;
}
.header_sticky {
	position: sticky;
	top: 0;
}
.header-logo__img {
	height: calc(var(--mini-unit) * 4);
}

/* button block */
.button {
	align-items: center;
	background-color: var(--c-l-10);
	border-radius: var(--mini-unit);
	border: 1px solid var(--c-l-7);
	color: var(--c-l-0);
	cursor: pointer;
	display: inline-flex;
	min-height: 2.5rem;
	justify-content: center;
	padding: 0 calc(var(--mini-unit) * 2);
	text-decoration: none;
	hyphens: auto;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.05);
	transition: box-shadow 0.1s ease-in-out 0s, border 0.1s, background-color 0.1s;
	font-weight: 500;
}
.button:hover {
	background-color: hsl(0, 0%, 98%);
}
.button_fill {
	width:100%
}
.button_small {
	font-size: calc(var(--mini-unit) * 2);
	min-height: 2rem;
}
.button_inverse {
	background-color: var(--c-l-1);
	color: var(--c-l-10);
	border-color: var(--c-l-5);
}
.button_inverse:hover {
	background-color: var(--c-l-0);
}
.button_primary {
	background-color: var(--c-blue--light);
	border-color: var(--c-clear);
}
.button_primary:hover {
	background-color: var(--c-blue);
}
.button_secondary {
	background-color: var(--c-yellow);
	border-color: var(--c-clear);
}
.button_secondary:hover {
	background-color: var(--c-yellow--dark);
}

/* button group block */
.button-group {
	display: flex;
}
.button-group__button {
	margin-left: var(--mini-unit);
}
.button-group__button:first-child {
	margin-left: 0px;
}

/* main container block */
.container {
  width: 100%;
	margin: 0px auto;
	padding:var(--mini-unit);
	padding-top:calc(var(--mini-unit) * 2)
}
.container > * {
	margin-bottom: var(--mini-unit)
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}


