/** Ultra Light */
@font-face {
  font-family: "Colfax";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }
/** Thin */
@font-face {
  font-family: "Colfax";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff"); }
/** Regular */
@font-face {
  font-family: "Colfax";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }
/** Medium */
@font-face {
  font-family: "Colfax";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff"); }
/** Semi Bold */
@font-face {
  font-family: "Colfax";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff"); }
/** Bold */
@font-face {
  font-family: "Colfax";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }
/** Heavy */
@font-face {
  font-family: "Colfax";
  font-weight: 800;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff"); }
/** Black */
@font-face {
  font-family: "Colfax";
  font-weight: 900;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-black-webfont.woff"); }
/* standard colours (black on white)*/
/*
$color-text: #fff;
$color-bg: $color-red;
$color-subtext: #fff;
$color-border: #fff;

$color-leaderboard-status-first: $color-border;
$color-leaderboard-status-standard: $color-border;
$color-leaderboard-status-dead: $color-border;

$color-topspot-bg: $color-text;
$color-topspot-accent: $color-red;
$color-topspot-text:	$color-bg;*/
.is-hidden {
  display: none; }

.ui {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  min-height: calc(100vh - 110px);
  padding-bottom: 10px; }
  .ui--red {
    background-color: #FF2B00;
    color: #fff; }

a {
  text-decoration: none;
  color: #000; }

body {
  font-family: "Colfax", "San Francisco", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  overflow: auto;
  background-color: #fff; }

.pa8 {
  padding: 8px; }

.leaderboard-item {
  background: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  page-break-after: 8px;
  margin-bottom: 8px; }

.leaderboard-item__container {
  display: flex;
  flex: 1;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px; }

.leaderboard-user {
  vertical-align: middle;
  border: 2px solid #fff;
  padding: 2px; }

.leaderboard-user__text {
  font-size: 27px;
  color: #000;
  font-weight: 600; }
  .leaderboard-user__text--dead {
    text-decoration: line-through; }

.leaderboard-user__subtext {
  font-size: 20px;
  color: #ccc;
  font-weight: 700;
  margin-left: 4px; }

.leaderboard-status {
  margin-left: auto;
  flex: none;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 2px;
  color: #000; }
  .leaderboard-status--first {
    border: 2px solid #007B14;
    color: #007B14; }
  .leaderboard-status--not-top {
    border: 2px solid #05f;
    color: #05f; }
  .leaderboard-status--dead {
    border: 2px solid #FF2B00;
    color: #FF2B00;
    transition: all 0.2s ease; }

.leaderboard-status__text {
  font-size: 27px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 800; }

.leaderboard-status--mobile {
  display: none;
  flex: 1;
  width: 100%;
  text-align: center; }

.leaderboard-status--desktop {
  display: block; }

@media only screen and (max-width: 485px) {
  .leaderboard-status--mobile {
    display: block; }

  .leaderboard-status--desktop {
    display: none; }

  .leaderboard-item__container {
    flex-direction: column;
    padding-right: 16px; } }
.button {
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0 4px 0 0 #000;
  border-radius: 10px;
  text-align: center;
  page-break-after: 8px;
  padding: 8px;
  margin-bottom: 12px;
  margin-top: 8px; }

.button:active {
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0 0px 0 0 #000;
  margin-top: 12px;
  margin-bottom: -4px; }

.button__text {
  font-size: 27px;
  text-align: center;
  font-weight: 800;
  color: #000; }
  .button__text--thin {
    font-weight: 400; }
  .button__text--var {
    font-style: italic;
    text-decoration: underline; }

.button--sort {
  margin-top: 12px; }

.button--sort:active {
  margin-top: 14px;
  margin-bottom: 10px; }

.header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px; }

.footer {
  align-items: center;
  border-top: 2px solid #000;
  padding-bottom: 16px;
  height: 95px; }
  .footer--ui-red {
    border-top: 2px solid #fff;
    color: #fff !important; }

.footer__title {
  padding-top: 8px;
  font-size: 24px;
  color: #000;
  text-align: center; }
  .footer__title--ui-red {
    color: #fff !important; }

.footer__subtitle {
  font-size: 13px;
  color: #000;
  text-align: center;
  font-weight: 300;
  padding-top: 4px; }
  .footer__subtitle--fr {
    font-size: 13px;
    font-weight: 400; }
  .footer__subtitle--ui-red {
    color: #fff !important; }

.footer__image__container {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  margin-top: 16px;
  margin-bottom: 0px; }

.footer__image {
  width: 100%; }

.top-spot {
  background: #000;
  border: 2px solid #000;
  border-radius: 10px;
  page-break-after: 8px;
  margin-bottom: 8px; }

.top-spot__container {
  padding: 8px; }

.top-spot-award__text {
  font-size: 27px;
  font-weight: 800;
  color: #fff;
  font-style: italic; }

.top-spot-user {
  border: 2px solid #fa0;
  border-radius: 10px;
  padding: 2px;
  color: #fa0;
  text-align: center;
  margin-top: 4px; }

.top-spot-user__text {
  font-size: 27px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 800; }

.fukol {
  margin-bottom: 8px; }

.fukol-grid {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
  /* 2 */
  margin: -4px;
  /* 5 (edit me!) */ }

.fukol-grid > * {
  flex: 1 0 13em;
  /* 3 (edit me!) */
  margin: 4px;
  /* 4 (edit me!) */ }

.form-item {
  padding: 8px; }

.FAB {
  border-radius: 27px;
  background-color: #fff;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0.5em 1.6em;
  cursor: pointer;
  line-height: 1.2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #FFFFFF;
  box-shadow: 0 0 0 2px #05f, 0 0 0 7px #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .FAB:hover {
    background-color: #05f; }

.FAB:hover > .FAB__text {
  color: #fff; }

.FAB__text {
  font-size: 20px;
  color: #05f;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .FAB__text:hover {
    color: #fff; }

.FAB__icon {
  margin-right: 4px; }

@media only screen and (max-width: 726px) {
  body {
    margin-bottom: 54px; }

  .FAB__text__text {
    display: none; } }
.rules-download {
  padding-top: 4px;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 4px solid #fff;
  box-shadow: 0 4px 0 0 #fff;
  page-break-after: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
  background: #FF2B00; }
  .rules-download:active {
    border: 4px solid #fff;
    box-shadow: 0 0px 0 0 #fff;
    margin-top: 14px;
    margin-bottom: -4px; }

.rules-download__text {
  font-size: 30px;
  font-weight: 800;
  font-style: italic; }

.addendum {
  margin-top: 10px; }

.addendum-header {
  border: 4px solid #fff;
  padding: 8px;
  text-align: center;
  border-radius: 10px; }

.addendum-header {
  font-size: 30px;
  color: #fff;
  text-align: center; }

.addendum-header__arrow {
  transform: translate(10px, -3px); }

.addendum-item {
  margin-bottom: 10px; }

.addendum-item__title {
  color: #ff2b00;
  background-color: #fff;
  font-size: 27px;
  padding: 8px;
  border: 4px solid #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-weight: 600;
  border-bottom: none;
  padding-bottom: 8px;
  padding-top: 6px; }

.addendum-item__answer {
  font-size: 24px;
  padding: 8px;
  border: 4px solid #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  text-align: center;
  font-weight: 400; }

.transition-fade {
  transition: 0.4s;
  opacity: 1; }

html.is-animating .transition-fade {
  opacity: 0; }

.box {
  margin-top: 10px; }

.box-header {
  border: 4px solid #000;
  padding: 8px;
  text-align: center;
  border-radius: 10px; }

.box-header {
  font-size: 30px;
  color: #000;
  text-align: center; }

.box-header__arrow {
  transform: translate(10px, -3px); }

/*# sourceMappingURL=main.css.map */
