{% extends "base.html" %}
{% block title%}Home{%endblock%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='wysiwyg.css') }}">
	    
		
{% endblock %}
{% block content %}
    <div class="wysiwyg">
        <h2>Welcome to MathSender!</h2>
        <p>MathSender is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias vero perferendis voluptatum debitis! Nostrum voluptate a alias iure, qui quae soluta totam impedit deleniti tempore, odio et eaque sapiente architecto.</p>
        <a href="/student/join" class="button">Student Join Room</a>
        <a href="/teacher/home" class="button">Teacher Room Setup</a>
    </div>
{%endblock%}