{% extends "base.html" %}
{% block title%}Student{%endblock%}
{% block roomCode %}Room Code: {{code}}{%endblock%}
{% block head %}

<script type="text/javascript" charset="utf-8">
	//puts you in a room
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
    });
</script>

<script>
	function add_question(question_el) {
		questions = document.getElementById('questions');
		questions.insertBefore(question_el, questions.firstChild);
		renderMathInElement(question_el);
	}
</script>

<script>
	loaded = false;
	//get all the questions
	socket.on('question_list', function( questions ) {
		if (!loaded) {
			console.log(questions)
			for (i = 0; i < questions.length; i++) {
				question = questions[i]
				question_el = gen_question_el('\\('+question['text']+'\\)',questions['id']);
				question_el.href = "/student/room/{{code}}/questions/"+question['id']+"?name={{name}}"

				add_question(question_el)
			}
			loaded = true;
		}
    });
</script>

<script type="text/javascript" charset="utf-8">
    socket.on('new_question_client', function( qdata ) {
		question = '\\('+qdata[0]+'\\)';
		qid = qdata[1];

        question_el = gen_question_el(question,qid);
        console.log(question_el);
        
		questions = document.getElementById('questions');

		questions.insertBefore(question_el, questions.firstChild);
		renderMathInElement(question_el);
    });
</script>

{%endblock%}
{% block content %}
		<h2 class="text-heading">Questions:</h2>
		<!-- Filled by JS -->
		<div id="questions" class="questions"></div>
{%endblock%}
