{% extends "base.html" %}

{% block title%}Student{%endblock%}
{% block roomCode %}Room Code: {{code}}{%endblock%}

{% block head %}

<script type="text/javascript" charset="utf-8">
	//puts you in a room
    var socket = io();
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
    });
</script>

<script>
	function send_answer() {
		var answer = answerMathField.latex();
		var code = '{{code}}';
		var qid = '{{question["id"]}}'
		var name = '{{name}}'
		socket.emit('new_answer',name,answer,code,qid);
		alert('Answer sent!')
		return false;
	}
</script>

<script type="text/javascript" charset="utf-8">
    socket.on('new_answer_teacher', function( answer ) {
		console.log(answer)
		if (answer['submitted_by'] == '{{name}}') {
			current_answer = document.getElementById('current-answer');
			current_answer.hidden = false;
			current_answer.textContent = "Your current answer: "+answer['answer'];
			document.getElementById('submit-or-change').textContent = 'Change answer';
			renderMathInElement(current_answer);
		}
    });
</script>

{% endblock %}
{% block content %}
		<a href="/student/room/{{code}}?name={{name}}">Back</a>
		<h2 class="text-heading">\({{question['text']}}\)</h2>
		{% if answer %}
		<h3 class="text-heading -sub" id="submit-or-change">Change answer</h3>
		<span id="current-answer">Your current answer: {{answer['answer']}}</span>
		{% else %}
		<h3 class="text-heading -sub" id="submit-or-change">Submit answer</h3>
		<span id="current-answer" hidden></span>
		{% endif %}
		<br/>
		<label class="field"><span id="answer-input" class="field__input"></span></label>
		
		<!-- MathQuill -->
		<script>
			var answerSpan = document.getElementById('answer-input');
			var answerMathField = MQ.MathField(answerSpan, {handlers: {}});
		</script>
		<button onclick="send_answer();" class="button -fill">Submit answer</button>
		<p class="wysiwyg">All \(\LaTeX\) is supported. For a cheatsheet click <a href="https://www.math.brown.edu/~jhs/ReferenceCards/TeXRefCard.v1.5.pdf" target="_blank">here</a></p>
{%endblock%}
