{% extends "base.html" %}

{% block title%}Student{%endblock%}
{% block roomCode %}Room Code: {{code}}{%endblock%}

{% block head %}

<script type="text/javascript" charset="utf-8">
	//puts you in a room
    var socket = io();
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
    });
</script>

<script>
	function send_answer() {
		var answer = answerMathField.latex();
		var code = '{{code}}';
		var qid = '{{question["id"]}}'
		var name = '{{name}}'
		socket.emit('new_answer',name,answer,code,qid);
		MSAlert('Answer sent!')
		return false;
	}
</script>

<script>
	//handles marking of answers
	socket.on('mark_correct', function( answer ) {
		console.log('Answer marked correct',answer,'{{name}}')
		if (answer['answer']['submitted_by'] == '{{name}}' && answer['qid'] == '{{question["id"]}}') {
			console.log('And it was for you')
			markCss(answer);
		}
    });

	socket.on('mark_incorrect', function( answer ) {
		console.log('Answer marked incorrect',answer,'{{name}}')
		if (answer['answer']['submitted_by'] == '{{name}}' && answer['qid'] == '{{question["id"]}}') {
			console.log('And it was for you')
			markCss(answer);
		}
    });

	function markCss(answer) {
		//Darcy do your thing
	}
</script>

<script type="text/javascript" charset="utf-8">
    socket.on('new_answer_teacher', function( answer ) {
		console.log('Answer recieved!',answer,'{{name}}')
		if (answer['answer']['submitted_by'] == '{{name}}') {
			console.log('And it was by you')
			/* current_answer = document.getElementById('current-answer');
			current_answer.hidden = false;
			current_answer.textContent = "Your current answer: "+answer['answer']; */
			//var mathQuillInput = MQ(document.querySelector("#answer-input"))
			answerMathField.select()
			answerMathField.clearSelection()
			answerMathField.write(answer['answer']['answer'])

			document.getElementById('submit-or-change').textContent = 'Change answer:';
			//renderMathInElement(current_answer);
			if (answer['answer']['correct'] != null) {
				markCss(answer);
			}
		}
    });
</script>

{% endblock %}
{% block content %}
		<div class="back-link">
			<a href="/student/room/{{code}}?name={{name}}">Go back</a>
		</div>
		
		<h2 class="text-heading">\({{question['text']}}\)</h2>

		{% if answer %}
		<h3 class="text-heading -sub" id="submit-or-change">Change answer:</h3>
		{% else %}
		<h3 class="text-heading -sub" id="submit-or-change">Submit answer:</h3>
		{% endif %}
		
		<label class="field"><span id="answer-input" class="field__input"></span></label>
		
		<!-- MathQuill -->
		<script>
			var answerSpan = document.getElementById('answer-input');
			var answerMathField = MQ.MathField(answerSpan, {handlers: {}});
		</script>

		{% if answer %}
		<script>
			answerMathField.select()
			answerMathField.clearSelection()
			answerMathField.write('{{answer["answer"]}}'.slice(1).slice(0,-1))
			tmp_answer='{{answer["answer"]}}'
		</script>
		{% endif %}

		<label class="field"><button onclick="send_answer();" class="button -fill">Submit answer</button></label>
		
		<p class="wysiwyg">All \(\LaTeX\) is supported. For a cheatsheet click <a href="https://www.math.brown.edu/~jhs/ReferenceCards/TeXRefCard.v1.5.pdf" target="_blank">here</a></p>
{%endblock%}
