{% extends "base.html" %}
{% block title%}Teacher{%endblock%}
{% block head %}

	    
		
{% endblock %}
{% block content %}

        <h3>Join existing room</h3>
        <form action="/teacher/join" method="POST">
            Code:<input type="text" name="code">
            <br/>
            Password:<input type="password" name="password">
            <input type="submit" value="Join" class="button">
        </form>
		<br/>
		<h3>Create new room</h3>
        <form action="/teacher/create" method="POST">
            Password:<input type="password" name="password">
            <input type="submit" value="Create" class="button">
        </form>
{%endblock%}