<!DOCTYPE html>
<html>
	<head>
		<title>Socket test</title>
		<!-- MathJax config -->
		<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
		<!-- Socket config -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		The code for this room is: {{code}}
		$$a^{2}+b^{2}=\text{your dad}$$
	</body>
</html>