{% extends "base.html" %}
{% block title%}Teacher{%endblock%}
{% block roomCode %}Room Code: {{code}}{%endblock%}
{% block head %}

<script type="text/javascript" charset="utf-8">
	//puts you in a room
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
        socket.emit('request_answers','{{code}}','{{question["id"]}}');
    });
</script>

<script>
	loaded = false;
	//get all the questions
	socket.on('answers_list', function( answers ) {
		if (!loaded) {
			console.log(answers)
            answers_div = document.getElementById('answers');
			for (i = 0; i < answers.length; i++) {
				answer = answers[i]
				answer_el = gen_answer_el(answer);
                container = document.createElement('div')
                container.id = 'answer-'+answer['submitted_by'];
                container.appendChild(answer_el)
                answers_div.insertBefore(answer_el,answers_div.firstChild)
                renderMathInElement(answers_div)
			}
			loaded = true;
		}
    });
</script>

<script>
    function gen_answer_el(answer) {
        // get the template element
        var templ = document.querySelector("template#answer")
        // clone said template
        var answer_el = templ.content.cloneNode(true)
        // create the two bits of text
        var t1 = document.createTextNode('Submitted by: '+answer['submitted_by']);
        var t2 = document.createTextNode('Answer given: '+answer['answer']);

        // replace the template text with created text
        var answerUser = answer_el.querySelector("#answerUser")
        var answerText = answer_el.querySelector("#answerText")
        
        answerUser.appendChild(t1)
        answerText.appendChild(t2)
        console.log(answer_el)
        // return the element
        return answer_el;
    }
</script>

<script type="text/javascript" charset="utf-8">
    socket.on('new_answer_teacher', function( answer ) {
        answer_el = gen_answer_el(answer);
        console.log(answer_el);
        answer_div = document.getElementById('answer-'+answer['submitted_by']);
        if (answer_div) {
            answer_div.textContent = '';
            answer_div.appendChild(answer_el);
        } else {
            answers = document.getElementById('answers');
            answer_div = document.createElement('div');
            answer_div.id = 'answer-'+answer['submitted_by'];
            answer_div.appendChild(answer_el);
            answers.insertBefore(answer_div,answers.firstChild)
        }
        renderMathInElement(answer_div);
    });
</script>
		
{% endblock %}
{% block content %}
        <div class="back-link">
            <a href="/teacher/room/{{code}}?password={{password}}">Go back</a>
        </div>
       
        <h2 class="text-heading">\({{question['text']}}\)</h2>

        <h3 class="text-heading -sub">Answers:</h3>

        <!-- answer template -->
        <template id="answer">
            <div id="answerUser"></div>
            <div id="answerText"></div>
        </template>

        <!-- Filled by JS -->
        <div id="answers"></div>
{%endblock%}