{% extends "base.html" %}
{% block title%}Teacher{%endblock%}
{% block roomCode %}Room Code: {{code}}{%endblock%}
{% block head %}
<!-- answer template -->
<template id="answer">
    <div id="answerUser" class="t-answer-user"></div>
    <div class="t-answer-bottom">
        <div id="answerText" class="t-answer-text"></div>
        <div class="t-answer-icons">
            <img id="answerTick" class="tick" src="{{ url_for('static', filename='tick.svg') }}">
            <img id="answerCross" class="cross" src="{{ url_for('static', filename='cross.svg') }}">
        </div>
    </div>
</template>

<script>
	// Puts you in a room
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
        socket.emit('request_answers','{{code}}','{{question["id"]}}');
    });
</script>

<script>
    // Render the existing answers
    loaded = false;
	socket.on('answers_list', function( answers ) {
		if (!loaded) {
            console.log(answers)
            answers_div = document.getElementById('answers');   // answers_div is an empty div where all the answers will go
			for (i = 0; i < answers.length; i++) {
                answer = answers[i]
                console.log("answer " + i)
                
                // Generate the contents for each answer
                answer_el = gen_answer_el(answer);
                
                // Make a container
                container = document.createElement('div')
                container.id = 'answer-'+answer['submitted_by'];

                // Set class name for formatting
                if (answer['correct'] == true) {
                    container.className = "t-answer -correct"
                }
                else if (answer['correct'] == false) {
                    container.className = "t-answer -incorrect"
                }
                else {
                    container.className = "t-answer"
                }

                container.appendChild(answer_el)
                answers_div.insertBefore(container,answers_div.firstChild)
                renderMathInElement(answers_div);
            }

			loaded = true;
		}
    });
</script>

<script>
  function gen_answer_el(answer) {
    // get the template element
    var templ = document.querySelector("template#answer")
    // clone said template
    var answer_el = templ.content.cloneNode(true)
    // create the two bits of text
    var t1 = document.createTextNode(answer['submitted_by']);
    var t2 = document.createTextNode(answer['answer']);

    // replace the template text with created text
    var answerUser = answer_el.querySelector("#answerUser")
    var answerText = answer_el.querySelector("#answerText")

    answerUser.appendChild(t1)
    answerText.appendChild(t2)

    var tick = answer_el.querySelector("#answerTick")
    var cross = answer_el.querySelector("#answerCross")

    tick.onclick = function() {socket.emit('autocorrect', answer, true,'{{code}}','{{question["id"]}}')};
    cross.onclick = function() {socket.emit('autocorrect', answer, false,'{{code}}','{{question["id"]}}')};
    
    console.log(answer)
    // return the element
    return answer_el;
  }
</script>

<script>
    // Handle new answers
    socket.on('new_answer_teacher', function( data ) {
        //Check that the question is for the right room
        //make a room for each question (?)
        if (data['qid'] == '{{question["id"]}}'){
            answer = data['answer']
            console.log(answer)

            // Generate the element
            answer_el = gen_answer_el(answer);
            container = document.getElementById('answer-'+answer['submitted_by']);
            if (container) {
                // Clear the container if it already exists
                container.textContent = '';
            } 
            else {
                // Otherwise create the container
                container = document.createElement('div')
                container.id = 'answer-'+answer['submitted_by'];    
            }
            container.appendChild(answer_el)
            
            // Set class name for formatting
            if (answer['correct'] == true) {
                container.className = "t-answer -correct"
            }
            else if (answer['correct'] == false) {
                container.className = "t-answer -incorrect"
            }
            else {
                container.className = "t-answer"
            }

            // Render any latex
            answers_div = document.getElementById('answers');
            answers_div.insertBefore(container,answers_div.firstChild)
            renderMathInElement(answers_div)
        }
    });
</script>

<script>
    socket.on('mark_correct', function ( data ) {
        // Check that the correction is for the right room
        // make a room for each question (?)

        if (data['qid'] == '{{question["id"]}}'){
            answer = data['answer']
            console.log('Marked ' + answer['submitted_by'] + '\'s answer correct')
            container = document.getElementById('answer-' + answer['submitted_by'])
            container.className = 't-answer -correct';
        }
    });

    socket.on('mark_incorrect', function ( data ) {
        // Check that the correction is for the right room
        // make a room for each question (?)

        if (data['qid'] == '{{question["id"]}}'){
            answer = data['answer']
            console.log('Marked ' + answer['submitted_by'] + '\'s answer incorrect')
            container = document.getElementById('answer-' + answer['submitted_by'])
            container.className = 't-answer -incorrect';
        }
    });
    
</script>
		
{% endblock %}
{% block content %}
        <div class="back-link">
            <a href="/teacher/room/{{code}}?password={{password}}">Go back</a>
        </div>
       
        <h2 class="text-heading">\({{question['text']}}\)</h2>

        <h3 class="text-heading -sub">Answers:</h3>

        

        <!-- Filled by JS -->
        <div id="answers"></div>
{%endblock%}
