{% extends "base.html" %}
{% block title%}Teacher{%endblock%}
{% block roomCode %}Room Code: {{code}}{%endblock%}
{% block head %}

<script type="text/javascript" charset="utf-8">
	//puts you in a room
    var socket = io();
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
    });
</script>

<script>
	function send_question() {
		var question = questionMathField.latex();
		var code = '{{code}}';
		var password = '{{password}}'
		socket.emit('new_question',question,code,password);
		MSAlert('Question sent!')
		return false;
	}
</script>

<script>
	function add_question(question_el) {
		questions = document.getElementById('questions');
		questions.insertBefore(question_el, questions.firstChild);
		renderMathInElement(question_el);
	}
</script>

<script>
	loaded = false;
	//get all the questions
	socket.on('question_list', function( questions ) {
		if (!loaded) {
			console.log(questions)
			if (questions.length) {
				question_info = document.getElementById('question-info')
				question_info.innerText = "Click a question below to see answers from students"
			}
			for (i = 0; i < questions.length; i++) {
				question = questions[i]
				question_el = gen_question_el('\\('+question['text']+'\\)',question['id']);
				add_question(question_el)
			}
			loaded = true;
		}
    });
</script>

<script type="text/javascript" charset="utf-8">
    socket.on('new_question_client', function( qdata ) {
		question = '\\('+qdata[0]+'\\)';
		qid = qdata[1];

        question_el = gen_question_el(question,qid);
        console.log(question_el);
        
		add_question(question_el);

		question_info = document.getElementById('question-info')
		question_info.innerText = "Click a question below to see answers from students."
    });
</script>

<script>
    //Change existing question
    socket.on('changed_question', function ( data ) {
        console.log('Question change recieved')
        var qid = data[0];
        var qtext = data[1];
        questionDiv = document.getElementById('question-'+qid);
        if (questionDiv) {
			console.log('Changing question')
            qheader = questionDiv.children[0];
            qheader.textContent = '\\('+qtext+'\\)'
            renderMathInElement(qheader)
        }
    });
</script>

{% endblock %}
{% block content %}
		<h2 class="text-heading">Submit new question</h2>
		<label class="field twopart-field">
			<div class="twopart-field__left">Question:</div>
			<span id="question-input" class="field__input twopart-field__right -math"></span>
		</label>
		<label class="field">
			<button onclick="send_question();" class="button -fill">Submit question</button>
		</label>
		
		
		<!-- MathQuill -->
		<script>
			var questionSpan = document.getElementById('question-input');
			var questionMathField = MQ.MathField(questionSpan, {handlers: {}});
		</script>
		

		<p class="wysiwyg">All \(\LaTeX\) is supported. For a cheatsheet click <a href="https://katex.org/docs/supported.html" target="_blank">here</a></p>
		<br>
		<hr>
		<br>
		<div class="heading-container">
			<h2 class="text-heading">Questions</h2>
			<form action="/export" method="POST" class="form">
				<input type="text" name="code" value="{{code}}" hidden>
				<input type="text" name="password" value="{{password}}" hidden>
				<button type="submit" class="button -as-link -flexend">
					<p class="wysiwyg export-text">Export</p>
					<img src="{{ url_for('static', filename='export-white.svg') }}" alt="Export questions" class="export-icon">
				</button>
			</form>
		</div>
		<!-- Changes to "Click a question below to see answers from students" -->
		<p id="question-info" class="wysiwyg description">Once you submit a question, it'll appear below.</p>
		<br>
		<!-- Gets filled by JS -->
		<div id="questions" class="questions"></div>

		<!-- Show the number of students in the bottom left -->
		<div id="student-count">0 students</div>
		<script>
			socket.on('current_student_count', function( newNumStuds ) {

				count_p = document.getElementById('student-count')
				numStuds = newNumStuds;
				if (numStuds == 1) {
					count_p.innerText = '1 student';
				}
				else {
					count_p.innerText = numStuds + ' students';
				}
			});
		</script>

{% endblock %}
