{% extends "base.html" %}
{% block title%}{{code}} Teacher{%endblock%}
{% block roomCode %}{{code}}{%endblock%}
{% block head %}

	    
		
{% endblock %}
{% block content %}
		<h3>Submit new question</h3>
		<form onsubmit="alert(1); return False">
			<br/>
			Question: <input type="text" placeholder="1+1=?" name="question">
		</form>
		Existing questions:
		{% for question in questions %}
			<div class="question">
				<br/>
				<a href="{{code}}/questions/{{question['id']}}?password={{password}}">{{question['text']}}</a>
			</div>
		{% endfor %}
{%endblock%}
