{% extends "base.html" %}
{% block title%}{{code}} Teacher{%endblock%}
{% block roomCode %}{{code}}{%endblock%}
{% block head %}

<script type="text/javascript" charset="utf-8">
	//puts you in a room
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('room_connect','{{code}}');
    });
</script>

<script>
    function gen_answer_el(answer) {
        answer_el = document.createElement("p");
        t1 = document.createTextNode('Submitted by: '+answer['submitted_by']);
        t2 = document.createTextNode('Answer given: '+answer['answer']);
        answer_el.appendChild(t1);
        answer_el.appendChild(document.createElement('br'));
        answer_el.appendChild(t2);
        answer_el.appendChild(document.createElement('br'));
        return answer_el;
    }
</script>

<script type="text/javascript" charset="utf-8">
    socket.on('new_answer_teacher', function( answer ) {
        answer_el = gen_answer_el(answer);
        console.log(answer_el);
        answer_div = document.getElementById('answer-'+answer['submitted_by']);
        if (answer_div) {
            answer_div.textContent = '';
            answer_div.appendChild(answer_el);
        } else {
            answers = document.getElementById('answers');
            answer_div = document.createElement('div');
            answer_div.id = 'answer-'+answer['submitted_by'];
            answer_div.appendChild(answer_el);
            answers.append(answer_div);
        }
        renderMathInElement(answer_div);
    });
</script>
		
{% endblock %}
{% block content %}
        <p>
		Question: \({{question['text']}}\)<br/>
        Answers:
        </p>
        <div id="answers">
            {% for answer in question['answers'] %}
                <div class="answer" id='answer-{{answer["submitted_by"]}}'>
                    <p>
                    Submitted by: {{ answer['submitted_by'] }}<br/>
                    Answer given: {{ answer['answer'] }}<br/>
                    </p>
                </div>
            {% endfor %}
        </div>
{%endblock%}